*{
    font-family: 'Montserrat', sans-serif;



}

:root{
    --dark-red:#C67F7F;
}


/* ENRICO HEADER */

.padre {
    display: flex;
    justify-content: space-evenly;
}

a {
    color: darkred;
    text-decoration: none;
}

li {
    display: flex;
}

.bg-header {
    background-image: url(./media/header-background.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
    height: 78vh;

}

.mask1 {
    -webkit-mask-image: linear-gradient(to top,black, transparent);
    mask-image: linear-gradient(to top,black, transparent);
  }


.bg2{
    padding: 0%;
    position: absolute;
    right: 0%;
    bottom: 15%;
}

.row-head{
    height: 70vh;
    width: 100%;
}



.h1-header{
    height: 70vh;
    
}

h1{
    font-size: 80px;
    text-align: center;    
    text-transform: uppercase;
    color: darkred;
    position: absolute;
    right: 43%;
    bottom: 55%;

}



/* Main*/
.font-main{
    color: black;
    font-size: 20px;
    text-align: center;
}

.font-main2{
    color: darkred;
    font-size: 50px;
}

* {
    box-sizing: border-box;
  }

  .font1-main{
     font-size: 10px;
  }
  
  .line {
    line-height: normal;
    color: black ;
  }

  .darkred{
    color: darkred;
  }

  h2{
    color: darkred;
  }

  .btn-main{
    background-color: darkred;
    color: white;
    text-transform: uppercase;
    border-radius: none;

  }

   .line{
    background-color: Blue;
    width: 60px;
    height: 2px;
    }



/* SIMONE FOOTER */


/* Color: darkred, #C67F7F, #ececec */

.S-dark-background {
    background-color: darkred;
    color: white;
}

.S-light-background{
    background-color: #ececec;
    color: darkred;
}

.S-spacer {
    width: 100%;
    height: 200px;
    background-color: #ececec;
}

.S-spacer-dark {
    width: 100%;
    height: 200px;
    background-color: darkred;
}


.S-card-team {
    font-size: 18px;
    border: 0px;
    background-color: #ececec;
    color: darkred;
}


.S-card-body-team {
    padding: 0;
}

.S-img-team {
    width: 300px;
    padding: 15px;
    border: 4px solid darkred;
    border-radius: 50%;
}

.S-h3 {
    font-size: 60px;
}

.S-h5 {
    font-size: 30px;
}

.S-img-benefits {
    width: 400px;
    padding: 15px;
    border: 4px solid darkred;
    border-radius: 50%;
}

/* .S-card-ico {
    width: 6px;
} */
