*{
    font-family: 'Montserrat', sans-serif;



}

:root{
    --dark-red:#C67F7F;
}



<<<<<<< HEAD
=======

>>>>>>> 418f731adefffd735ffabf8cb8176555d9573eee
/* ENRICO HEADER */

.padre {
    display: flex;
    justify-content: space-evenly;
}

a {
    color: darkred;
    text-decoration: none;
}

li {
    display: flex;
}

.bg-header {
    background-image: url(./media/header-background.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
   
}

.bg-header2 {
    background-image: url(/media/header-white.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
    
    
}

header {
    height: 150vh;
}

.text-main {
    height: 50vh;
    
}

.text-main-size {
    font-size: 80px;
    
}


/* Header */
* {
    box-sizing: border-box;
  }

  .font1-main{
     font-size: 10px;
  }
  
  .line {
    line-height: normal;
    color: black ;
  }

  .darkred{
    color: darkred;
  }

  h2{
    color: darkred;
  }

  .btn-main{
    background-color: darkred;
    color: white;
    text-transform: uppercase;
    border-radius: none;
  }
<<<<<<< HEAD
=======


/* SIMONE FOOTER */


/* Color: darkred, #C67F7F, #ececec */

.S-dark-background {
    background-color: darkred;
    color: white;
}

.S-light-background{
    background-color: #ececec;
    color: darkred;
}

.S-card-team {
    font-size: 18px;
    border: 0px;
    background-color: #ececec;
    color: darkred;
}


.S-card-body-team {
    padding: 0;
}

.S-img-team {
    width: 300px;
    padding: 15px;
    border: 4px solid darkred;
    border-radius: 50%;
}

.S-h3 {
    font-size: 60px;
}

.S-h5 {
    font-size: 30px;
}

.S-img-benefits {
    width: 500px;
    padding: 15px;
    border: 4px solid darkred;
    border-radius: 50%;
}

/* .S-card-ico {
    width: 6px;
} */
>>>>>>> 418f731adefffd735ffabf8cb8176555d9573eee
